@import "~bootstrap/scss/bootstrap.scss";

.box{
    background: #1f1d1e;
    border-radius: 8px;
    height: 164px;
    line-height: initial;
    width: 109px;
    text-align: center;
    
}
.contenedor{
    padding: 23px;
    background: black;
    display: flex;
    color: white;
    font-size: 130px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.icono{
    display: flex;
    background: #1f1d1e;
    border-radius: 8px;
    height: 164px;
    line-height: initial;
    width: 122px;
    font-size: 106px;
    justify-content: center;
    align-items: center;
    
}